
  <button (click)="log()">click</button>
  <a-scene background="color: #FAFAFA">
    <a-assets>
      <a-asset-item id="scene" src="../assets/scene.glb"></a-asset-item>
    </a-assets>

    <a-entity gltf-model="#scene"></a-entity>
    
    <a-sky src="https://dj9123.github.io/CS-4331-Project-One/assets/sky.jpg"></a-sky>

    <!-- <ng-container *ngFor="let x of [0, 3, 6, 9]">
      <a-entity oven id="oven" [x]="x"></a-entity>
    </ng-container> -->



    <a-entity camera wasd-controls="acceleration:300" look-controls="pointerLockEnabled: true" position="0 1.6 0"></a-entity>

  </a-scene>